<!DOCTYPE html>
<html>
	<head>
		<title>Go Go Goals</title>
	</head>
	<body>
		<h2>GO! GO! GOALS!</h2>
		<form action="/goals" method="POST">
			<input type="text" name="goal[name]">
			<input class="button" type="submit" value="New Goal >>">
		</form>
		<% @goals.each do |goal| %>
			<ul>
				<li>
					<span><%= goal.name %></span>
				</li>
			</ul>
		<% end %>
	</body>
</html>