%h2 GO! GO! GOALS!
%form{:action => "/goals", :method => "POST"}
	%input{:name => "goal[name]", :type => "text"}/
	%input.button{:type => "submit", :value => "New Goal >>"}/
- @goals.each do |goal|
	%ul
		%li
			%span= goal.name